<Template name="monthlyStats">
    <div id="ab-main" class="section">
        <div class="container">
            <h4 class="header">{{_ "monthly_stats"}} {{month}}</h4>
                <table class="striped">
                    <tbody class="orange-striped table-stats">
                        <tr>
                            <span>
                                12
                            </span>
                            <p>
                                Horas trabajadas
                            </p>
                        </tr>
                        <tr>
                            <span>
                                7.3
                            </span>
                            <p>
                                Valoración media
                            </p>
                        </tr>
                        <tr>
                            <span>
                                5
                            </span>
                            <p>
                                Número de pedidos
                            </p>
                        </tr>
                        <tr>
                            <span>
                                2.4
                            </span>
                            <p>
                                Horas/Pedido
                            </p>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</Template>