@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main-container{
        font-size: x-large;
        font-weight: normal;
        margin: 1% 5%;
        color: rgba(0, 0, 0, 0.85);
    }
    .brisboxer-info{
        border-radius: 5px;
        padding-left: 2px;
        border: 1px solid;
        margin-bottom: 2%;
        position: relative;
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        font-size: x-large;
        font-weight: normal;
        margin: 1% 5%;
        color: rgba(0, 0, 0, 0.85);
    }
    .brisboxer-info{
        border-radius: 5px;
        padding-left: 2px;
        border: 1px solid;
        margin-bottom: 2%;
        width: 500px;
        position: relative;
    }
}
.info {
    border-radius: 5px;
    border: 2px solid #ddd;
    margin-bottom: 5px;
}
.customer-info{
    height: 100%;
}

.customer-info span{
	display: block;
}

.order-info{
    height: 100%;
}

.order-info span{
	display: block;
}

.brisboxers-info{
    height: 100%;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin-bottom: 5px;
}

.brisboxers-info span{
	display: block;
}
.image-div{
    vertical-align: top;
	display: inline-block;
}
.image-div img{
    max-height: 70px;
    max-width: 70px;
    vertical-align: text-top;
}
.name-and-vote-div{
    vertical-align: top;
	display: inline-block;
}
.order_dashboard_vote{
    font-weight: bold;
    color: #6B6766;
}
.order_dashboard_section_title{
    font-weight: bold;
    font-size: xx-large;
}

.clear-icon {
    position: absolute;
    right: -20px;
    top: -20px;
}