@media only screen and (max-width: 900px) {
    #customer {
        float: none;
    }

    #brisboxers {
        float: none;
    }

    #mapa {
        float: none;
    }
}

@media only screen and (max-width: 1300px) {
    #cancelar {
        margin-top: 60px;
        margin-left: 0px;
        float: none;
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        font-weight: normal;
        margin: 1% 5%;
        color: rgba(0, 0, 0, 0.85);
    }
}

#customer {
    float: left;
}

#brisboxers {
    float: left;
}

#mapa {
    float: left;
}

.customer-info, .brib-info {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    min-width: 235px;
}

.brib-info {
    min-width: 215px;
}

.mapita {
    width: 100%;
    margin-top: 10px;
    min-height: 525px;
    height: 100%;
    min-width: 235px;
}

.customer-info span {
    display: block;
}

.order-info {
    height: 100%;
}

.order-info span.title {
    display: block;
    color: orange;
}

.brisboxers-info {
    position: relative;
    height: 100%;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #ededed;

    min-width: 235px;
}

.brisboxer-inf {
    position: relative;
    height: 100%;
    padding-bottom: 30px;
    margin-top: 10px;
}

.brisboxers-info span.title {
    display: block;
    color: orange;
}

.image-div {
    vertical-align: top;
    display: inline-block;
}

.image-div:hover {
    cursor:hand;
}

.imag {
    margin-bottom: 5px;
}

.image-div img {
    max-height: 70px;
    max-width: 70px;
    vertical-align: text-top;
}

.name-and-vote-div {
    vertical-align: top;
    display: inline-block;
}

.order_dashboard_vote {
    font-weight: bold;
    color: #6B6766;
}

.order_dashboard_section_title {
    font-weight: bold;
    font-size: xx-large;
}

.clear-icon {
    position: absolute;
    right: -20px;
    top: -20px;
}

.confirm-payment {
    margin-bottom: 1%;
}

#leave-order {
    margin-top: 10px;
}

.no-style-anchor {
    color: inherit;
    text-decoration: none;
}