{
    "public": {
        "stripe": {
            "testPublishableKey": "pk_test_xxxxxxxxxxxxxxxxxxxxxxxx",
            "livePublishableKey": "pk_live_xxxxxxxxxxxxxxxxxxxxxxxx"
        },
        "reserveAmount": 500
    },
    "private": {
        "stripe": {
            "testSecretKey": "sk_test_xxxxxxxxxxxxxxxxxxxxxxxx",
            "liveSecretKey": "sk_live_xxxxxxxxxxxxxxxxxxxxxxxx"
        }
    },
    "mail": {
        "user": "email@gmail.com",
        "password": "pass"
    }
}
