body {
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: bold;
}

a {
    font-weight: 600;
    font-size: 20px;
}

.caret:after {
    content: " \203A"
}

.smaller-font {
    font-size: 99%;
}

.uppercase {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 1px 1px 1px #707070;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.brand-font {
    font-family: 'Quicksand';
}

@media (max-width: 601px) {
    .header {
        text-align: center;
    }
}

.team-name {
    font-size: 2.0rem;
    line-height: 110%;
    font-weight: 300;
    margin-right: 2%;
    font-weight: bold;
}

.team-role {
    font-size: 1.25rem;
    line-height: 110%;
    font-weight: 300;
    font-weight: bold;
    color: #616161;
}

.team-row {
    padding: 1%;
}

.team-orange_line {
    background-color: #f9a825;
    height: 2px;
    width: 25%;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}

@media (max-width: 800px) {
    .team-name-row {
        text-align: center
    }

    .team-orange_line {
        margin-left: auto
    }

    .team-img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 75%;
        height: 75%;
        margin-top: 2%;
        margin-bottom: 2%
    }

    .team-name {
        clear: right;
    }
}

.faqs-question-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.faqs-question {
    font-weight: bold;

}

.faqs-question-icon {
    vertical-align: middle;
    cursor: pointer;
    font-size: 2.2rem !important;
}

.faqs-question-icon:hover {
    color: #fbc02d !important;
}

.faqs-question-text {
    vertical-align: middle;
    font-weight: 600;
}

.faqs-orange_line {
    background-color: #f9a825;
    height: 2px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}

.faqs-answer {
    display: none;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.inscription-form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.inscription-form fieldset {
    padding: 8px 15px 12px 15px;
}

/* Bloques responsive design */

.block-izquierda {
    float: left;
    display: block;
    width: 48.82117% !important;
    margin-right: 2.35765%;
}

.block-derecha {
    float: left;
    display: block;
    width: 48.82117% !important;
    margin-right: 0;
}

.block-debajo {
    clear: left;
}

@media (max-width: 800px) {
    .block-derecha {
        clear: left !important;
        width: 100% !important;
    }

    .block-izquierda {
        width: 100% !important;
    }
}

/* ----------------------------- */

legend {
    font-size: 25px;
    font-weight: bold;
}

.help-block {
    color: #F44336;
}

.obligatory label:after {
    content: "*";
}

.input-field label {
    left: 0rem !important;
}

.input-field {

}

.info-text {
    text-align: center;
    font-size: 0.8em;
}

.image-input {
    margin-top: 1rem;
}

.fix-textarea-margin label {
    margin-top: 10px;
}

fieldset {
    border-top: 1px solid #ef6c00;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.form-control {
    border-bottom: 1px solid #ef6c00 !important;
}

.centrar {
    text-align: center;
}

@media (max-width: 800px) {
    .image-profile {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
    }
}

.checkbox input {
    visibility: visible !important;
    left: auto !important;
    position: relative !important;

}

.checkbox label {
    position: relative !important;
    margin-bottom: 20px;
}

.checkTerms {
    margin-bottom: 10px;
}
