.order-info {
    display: block;
}

.typeMove{
    padding-left: 10px;
}

.row-order-form{
    padding-right: -100px !important;
}

#form-address-zip{
    margin-top:5%;
}

.order-form{
    margin-top: 10px;

}

.section{
    border-right: 20px;
    border-left: 20px;
}

#legend{
    padding-top: 15px;
}

.fix-textarea-margin{
    padding-left:0px !important;
    left:0px !important;
}

.map-container {
    width: 100%;
    margin-top: 20px;
    height: 800px;
}

#order-type-label{
    font-size: 1rem;
}

#more-info{
    margin-top:5%;
    display: none;
}

.picker { outline: none; } /* Optional feature */
/* Header - Day of the week */
.picker__weekday-display { background-color: #f57c00; }
/* Body - Today info */
.picker__date-display { background-color: #ff9800; }
/* Buttons of actions */
.picker__nav--prev:hover { background-color: #fff3e0; }
.picker__nav--next:hover { background-color: #fff3e0; }
.picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid #ffb74d;
}
.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #ffb74d;
}
.picker__today { color: #fb8c00; }
.picker__clear { /* If you want to customize */ }
.picker__close { color: #fb8c00; }
.btn-flat.picker__today:active { background-color: #fff3e0; }
.btn-flat.picker__close:active { background-color: #fff3e0; }
.btn-flat.picker__clear:active { background-color: #fff3e0; }
/* Select months of the year */
.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
}
/* Every month of the year except: today */
.picker__day { /* If you want to customize */ }
.picker__day:hover { /* If you want to customize */ }
.picker__day--infocus:hover { color: #f57c00; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { color: #f57c00; }
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #ffcc80; }
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #ff9800; }
.picker__day.picker__day--today { color: #f57c00; }

#label_typeMove{
    font-size:1rem;
    margin-left:-10px;
}

#label_day{
    margin-left: 2px;
}

#day, #startMoment{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ef6c00;
    background-color: #ef6c00;
}
#comments{
    height: 80px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.addressUnloading, .addressLoading{
    visibility: hidden;
}

.errorAddress{
    visibility:hidden;
    color:red;
    font-size: 1rem;
}