.order-checkout{
    margin-top:10px;
}

#buttom-next{
    text-align: center;
}

#legend-checkout{
    margin-left:25%;
}
#info-budget{
    margin-top:8%;
}

#text-budget{
    font-size: 1.1rem;
}

#address-budget, #day-budget, #phone-budget, #cost-budget{
    text-align:center !important;
    border: 1px solid #DBE1EB;
    font-size: 1.1rem;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #2E3133;
}

#prueba{
    z-index: 997;
    background-color:#c2c1c0;
    visibitity: visible;
    opacity: 0.8;
}

#prueba2{
    z-index: 997;
    background-color:#c2c1c0;
    visibitity: visible;
    opacity: 0.8;
}