.header-thanksEmail{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 4.44444rem;
    margin-bottom: 18px;
}

.thanksEmail_body{
    font-size: 1.2em !important;
    font-weight: normal !important;
    margin-top: -5%;
}

.thanksEmail_body p{
    text-align: justify;
    margin-top: 80px;
}

@media(max-width: 600px){

    .header-thanksEmail{
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 4.44444rem;
        text-align: center;
    }

    .thanksEmail_body p{
        text-align: justify;
        margin-top: -20px;
    }

    .thanksEmail_body{
        font-size: 1em !important;
        font-weight: normal !important;
    }

    .thanksEmail_body img{
        max-width: 300px;
        margin: 1% 0 0 15%;
    }
}