.header-verified{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 4.44444rem;
    margin-bottom: 18px;
}

.verified_body{
    font-size: 1.2em !important;
    font-weight: normal !important;
    margin-top: -5%;
}

.verified_body p{
    text-align: justify;
    margin-top: 80px;
}

.verified_body img{
    max-width: 400px;
    margin-top:-50px
}

@media(max-width: 600px){

    .header-verified{
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 4.44444rem;
        text-align: center;
    }

    .verified_body p{
        text-align: justify;
        margin-top: -20px;
    }

    .verified_body{
        font-size: 1em !important;
        font-weight: normal !important;
    }

    .verified_body img{
        max-width: 200px;
        margin: 1% 0 0 20%;
        padding-left: 20px;
    }
}