<Template name="listMyOrders">

    <div id="lao-main" class="container">

        <div class="row">
            <div class="col l6">
                <h4 class="header">{{_ "my_orders"}}</h4>
            </div>
        </div>

        <div class="row isotope">
            {{> reactiveBlockGrid cursor=orders template='myOrdersItem' transitionDuration='0.5s' gutter=30 columnWidth=328}}
        </div>

        {{#unless orders.count}}
            <div class="row flow-text">{{{_ "my_orders_empty"}}}</div>
        {{/unless}}

    </div>

</Template>