
.orange-striped > tr:nth-child(2n+1){
    background-color: #ffb74d !important;
}

.table-stats{
    text-align: center !important;
}

.table-stats span {
    color: rgb(85, 139, 47);
    font-size: 2em;
}