#ab-main{
	width: 100%;
	height: 100%;
	padding: 1%;
	color: #263238;
	background: #607d8b; /* Old browsers */
	background: -moz-linear-gradient(top, #607d8b 0%, #3c4e56 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #607d8b 0%,#3c4e56 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #607d8b 0%,#3c4e56 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607d8b', endColorstr='#3c4e56',GradientType=0 ); /* IE6-9 */
	color: white;
}
