<Template name="acceptBrisboxerRow">
	<tr>
        <td>{{username}}</td>
		<td>{{email}}</td>
		<td>
			<div class="white circle z-depth-1 verified-div">
			{{#if verified}}
				<i class="material-icons green-text verified-i ">verified_user</i>
			{{else}}
				<i class="material-icons red-text verified-i">verified_user</i>
			{{/if}}
			</div>
		</td>
		<td>
		<div class="switch">
		    <label>
		    	{{#if verified}}
					{{#if accepted}}
						<input type="checkbox" id="{{_id}}" checked>
			      	{{else}}
						<input type="checkbox" id="{{_id}}">
			      	{{/if}}
		    	{{else}}
					<input type="checkbox" disabled id="{{_id}}">
		    	{{/if}}
		      	<span class="lever"></span>
		    </label>
		  </div>
		</td>
		<td>
			<a class="brisboxer-details waves-effect waves-light btn" href="{{ pathFor 'brisboxer-details' _id=this._id }}">
				<i class="material-icons center">account_circle</i>
			</a>
		</td>
	</tr>
</Template>