<Template name="acceptBrisboxers">
	<div id="ab-main" class="section">
		<div class="container">
			<h4 class="header">Brisboxers</h4>
				<div id="brisboxer-list">
					<table class="responsive-table striped">
						<thead>
							<tr>
					            <th>{{_ "brisboxer_username"}}</th>
					        	<th>{{_ "brisboxer_email"}}</th>
					        	<th>{{_ "brisboxer_verified"}}</th>
					        	<th>{{_ "brisboxer_accepted"}}</th>
					        	<th></th>
					        </tr>
						</thead>
						<tbody>
							{{#each brisboxers}}
								{{> acceptBrisboxerRow}}
							{{/each}}
						</tbody>
					</table>
				</div>
		</div>
	</div>
</Template>