<Template name="acceptBrisboxers">
	<div id="ab-main" class="section blue-grey">
		<h4 class="header">Accept brisboxer</h4>
		<div class="container">
				<div id="brisboxer-list">
					<table class="responsive-table">
						<thead>
							<tr>
								<th>Id</th>
					            <th>Username</th>
					        	<th>Email</th>
					        	<th>Verified</th>
					        	<th>Accepted</th>
					        </tr>
						</thead>
						<tbody>
							{{#each brisboxers}}
								{{> acceptBrisboxerRow}}
							{{/each}}
						</tbody>
					</table>
				</div>
		</div>
	</div>
</Template>