<template name="brisboxerDetails">
    <div id="details-brisboxer-main" class="container">
		<h4 class="header">{{_ "brisboxer_details"}}</h4>
		<div class="row">
			<div class="col s12 m6 l4 valign-wrapper">
				<img src="/placeholder.png" class="circle" style="margin-right: auto;margin-left: auto;"/>
			</div>
			<div class="col s12 m6 l8 row valign-wrapper">
				<div class="col s3 m3 l3">
					Name
				</div>
				<div class="col s9 m9 l9">
					{{name}}
				</div>
			</div>
			<div class="col s12 m6 l8 row valign-wrapper">
				<div class="col s3 m3 l3">
					Surname
				</div>
				<div class="col s9 m9 l9">
					{{surname}}
				</div>
			</div>
			<div class="col s12 m6 l8 row valign-wrapper">
				<div class="col s3 m3 l3">
					Username
				</div>
				<div class="col s9 m9 l9">
					{{username}}
				</div>
			</div>
			<div class="col s12 m6 l8 row valign-wrapper">
				<div class="col s3 m3 l3">
					Email
				</div>
				<div class="col s9 m9 l9">
					{{email}}
				</div>
			</div>
			<div class="col s12 m6 l8 row valign-wrapper">
				<div class="col s3 m3 l3">
					Phone
				</div>
				<div class="col s9 m9 l9">
					{{phone}}
				</div>
			</div>
		</div>
	</div>
</template>