<template name="coverr">
    <div class="cardbg hide-on-med-and-down" style="margin-top: -20%">
        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <video autoplay class="fillWidth">
                    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Comfy.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Comfy.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>
    </div>
    <div class="cardbg-mobile hide-on-large-only" style="margin-top: -20%">
        <div class="poster hidden">
            <img src="/coverr/jpg/Comfy.jpg" alt="">
        </div>
    </div>
</template>
