<template name="Faq">


    <div class="container">
        <div id="faqs" class="section">
            <div class="row">
                <h4 class="header">{{_ "faqs_header"}}</h4>
            </div>
            <div id="faqs-questions" class="section">
                 <div class="faqs-question-block row">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_one"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_one"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                 <div class="faqs-question-block row">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_two"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_two"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                <div class="faqs-question-block row">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_three"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_three"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                 <div class="faqs-question-block row">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_four"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_four"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                 <div class="faqs-question-block row">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_five"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_five"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                <div class="faqs-question-block row">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_six"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_six"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
                <div class="faqs-question-block row" id="captain">
                    <div class="faqs-question">
                        <div class="col s2 m1">
                            <i class="material-icons deep-orange-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i>
                        </div>
                        <div class="col s10 m11">
                        <span class="faqs-question-text waves-effect waves-light">{{_ "faqs_question_seven"}}</span>
                        </div>
                    </div>
                    <div class="faqs-answer col s12">
                        "{{_ "faqs_answer_seven"}}"
                    </div>
                    <div class="col s12">
                        <div class="faqs-orange_line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>