<template name="Faqs">
	<div id="faqs">
		<h4>{{_ "faqs_header"}}</h4>
		<div id="faqs_questions">
			<div class="faqs_question_block">
				<div class="faqs_question">
					¿Mereceis la pena?
				</div>
				<div class="faqs_answer">
					¡Por supuesto! Ofrecemos a unos estuforces cualificados y con muchas ganas de hacer de tu traslado una experiencia lo mas cómoda posible.
					Le ofrecemos un servicio cómodo desde que realice su pedido hasta que realice el pago final. ¡Y todo esto con un servicio mínimo de una hora! (Comparado con otras compañias que piden un mínimo de 3 horas).
				</div>
			</div>
			<div class="faqs_question_block">
				<div class="faqs_question">
					¿Estais asegurados?
				</div>
				<div class="faqs_answer">
					Si. Nuestros estuforces son perfectos para el traslado de tus pequeñas y medianas cosas, y todo daño ocasionado previamente los estudiantes lo revisarán antes de dejar el lugar. Si exite un problema despues del traslado no tiene mas que contactar con nuestro servicio de incidencias. Si necesita realizar un traslado de cosas grandes como pianos, organos, o obras de arte muy antíguas, nuestros estuforce no podran hacer otra cosa mas que dejarlo en su lugar. Necesitaría contactar para ello una empresa especializada en este tipo de traslados.
				</div>
			</div>
			<div class="faqs_question_block">
				<div class="faqs_question">
					¿Que servicios ofreceis exactamente?
				</div>
				<div class="faqs_answer">
					Nuestros estuforces estarán encantados de ayudarte tanto en el empaquetado de sus cosas, así como el traslado de sus pertenencias hasta el vehiculo. Si lo necesita, podemos ofrecerle mas estuforces en la llegada de su traslado para ayudarle tanto a descargar el vehículo y llevar sus pertenencias a sus lugares, así como ayudarle con el desempaquetado y reordenación. 
				</div>
			</div>
			<div class="faqs_question_block">
				<div class="faqs_question">
					¿Ofreceis transporte?
				</div>
				<div class="faqs_answer">
					Nuestros estuforces no pueden ofrecer un transporte para el traslado de sus cosas. Pero si le es necesario de un transporte, estaremos encantados de contactarle con un servicio de alquiler de vehiculos o incluso de un transportista si lo desea.
				</div>
			</div>
			<div class="faqs_question_block">
				<div class="faqs_question">
					¿Que cantidad de cosas podeis trasladar?
				</div>
				<div class="faqs_answer">
					Nuestros estuforces son perfectos para el traslado de pequeñas y medianas cosas. Ellos podrán ayudarte en todo el proceso, pero si lo que necesita es un traslado de una casa llena de antiguedades del siglo 15, quizá deberia de contactar con otra empresa menos flexible especializada.
				</div>
			</div>
			<div class="faqs_question_block">
				<div class="faqs_question">
					No estoy muy seguro de la fecha de mi mudanza. ¿Puedo realizar una reserva igualmente?
				</div>
				<div class="faqs_answer">
					¡Por supuesto! Es libre de reajustar la fecha o de cancelarla libre de cargos.
				</div>
			</div>
			<div class="faqs_question_block">
				<div class="faqs_question">
					¿Con cuanta antelacion debo realizar una reserva?
				</div>
				<div class="faqs_answer">
					Lo normal en las mudanzas es de 5 dias. ¡Pero esto es muy inflexible! ¡Si necesita ayuda mañana para descargar o cargar cosas no le serviria! Con nosotros, con un minimo de 24 horas podras tener a un estuforce listo para ayudarte en tu tarea.
				</div>
			</div>
		</div>
	</div>
	

</template>