<template name="Faqs">
	<div id="faqs" class="section">
		<div class="row">
			<h4 class="header">{{_ "faqs_header"}}</h4>
		</div>
		<div id="faqs-questions" class="section">
			<div class="faqs-question-block row">
				<div class="faqs-question">
					 <i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text"> {{_ "faqs_question_one"}} </span>
				</div>
				<div class="faqs-answer">
						{{_ "faqs_answer_one"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
			<div class="faqs-question-block row">
				<div class="faqs-question">
					<i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text"> {{_ "faqs_question_two"}} </span>
				</div>
				<div class="faqs-answer">
					{{_ "faqs_answer_two"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
			<div class="faqs-question-block row">
				<div class="faqs-question">
					<i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text"> {{_ "faqs_question_three"}} </span>
				</div>
				<div class="faqs-answer">
					{{_ "faqs_answer_three"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
			<div class="faqs-question-block row">
				<div class="faqs-question">
					<i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text">{{_ "faqs_question_four"}}</span>
				</div>
				<div class="faqs-answer">
					{{_ "faqs_answer_four"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
			<div class="faqs-question-block row">
				<div class="faqs-question">
					<i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text">{{_ "faqs_question_five"}}</span>
				</div>
				<div class="faqs-answer">
					{{_ "faqs_answer_five"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
			<div class="faqs-question-block row">
				<div class="faqs-question">
					<i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text">{{_ "faqs_question_six"}}</span>
				</div>
				<div class="faqs-answer">
					{{_ "faqs_answer_six"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
			<div class="faqs-question-block row">
				<div class="faqs-question">
					<i class="material-icons deep-purple-text lighten-1-text faqs-question-icon waves-effect waves-light">label</i> <span class="faqs-question-text">{{_ "faqs_question_seven"}}</span>
				</div>
				<div class="faqs-answer">
					{{_ "faqs_answer_seven"}}
				</div>
				<div class="faqs-purple_line">
				</div>
			</div>
		</div>
	</div>
	

</template>