<template name="FinishedOrder">
    <div id="finished-container" class="container section">
        <div class="row finishedOrder">
            <h4 class="header"><p>{{_ "finished_Order"}}</p></h4>
        </div>
        <div class="row thanksOrder_body">
            <div class="col s12 m6">
                <p>{{_ "finished_Order_body"}}</p>
                <p>{{_ "finished_Order_assessment"}}: <a href="{{pathFor 'BrisboxerAssessment' _id}}">{{_ "assess_them"}}</a></p>
            </div>
            <div class="col s12 m6">
                <img src="/hand.png">
            </div>
        </div>
    </div>
</template>
