<template name="pageFooter">
    <footer class="site-dark-orange" style="margin-top: -4%;">
        <div class="container">
            <div class="row">
                <div class="col s4 center-align">
                    <h4 class="flow-text white-text">{{_ "footer_company"}}</h4>
                    <ul class="">
                        <li><a href="#" class="grey-text text-lighten-1">{{_ "footer_services"}}</a></li>
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <h4 class="flow-text white-text">{{_ "footer_team"}}</h4>
                    <ul class="">
                        <li><a href="{{pathFor 'AboutUs'}}" class="grey-text text-lighten-1">{{_ "footer_about"}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col s4 center-align">
                    <h4 class="flow-text white-text">{{_ "footer_legal"}}</h4>
                    <ul class="collection-item">
                        <li><a href="#" class="grey-text text-lighten-1">{{_ "footer_privacy"}}</a></li>
                        <li><a href="#" class="grey-text text-lighten-1">{{_ "footer_terms"}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-darker-orange" style="margin-top: 5%; padding: 1px;">
            <div class="container">
                <div class="center-align">
                    <p class="white-text">&copy; 2016 brisbox &middot;
                    <a href="#" class="grey-text text-lighten-1">{{_ "footer_contact"}}</a></p>
                </div>
            </div>
        </div>
    </footer>
</template>