<template name="pageFooter">
    <footer class="footer-bg">
        <div class="container">
            <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="hide-on-small-only">
                    {{> footer_HR}}
                </div>
                <div class="hide-on-med-and-up">
                    {{> footer_LR}}
                </div>

            </div>
        </div>
        <div class="footer-cr-bg" style="padding: 1px;">
            <div class="container">
                <div class="row" style="margin-bottom: 0px;">
                    <p class="white-text center" style="font-size: 90%">&copy; 2016 brisbox</p>
                </div>
            </div>
        </div>
    </footer>
</template>


<template name="footer_LR">
    <div class="col s12 center-align">
        <h4 class="flow-text white-text">{{_ "footer_company"}}</h4>
        <ul class="">
            <li><a href="{{pathFor 'AboutUs'}}" class="grey-text text-lighten-1">{{_ "footer_about"}}</a>
            </li>
            <li><a href="{{pathFor 'join-us'}}" class="grey-text text-lighten-1">{{_ "footer_join_us"}}</a>
            </li>
            <li>
                <div class="block-debajo">
                    <div class="col s12">
                        <a class="modal-trigger grey-text text-lighten-1" href="#modal1">
                            {{_ "footer_order"}}
                        </a>
                    </div>
                </div>
            </li>

            <div id="modal1" class="modal">
                <form class="zip_form-footer" method="get" action="{{ pathFor 'order' }}">
                    <div class="col s12 center-align">
                        <h5 class="white-text proxima" style="color: black !important;margin-bottom: 35px;">{{_ "home_title"}}</h5>
                        <div class="col s12 center-align">
                            <div style="display:inline-block;margin-bottom: 10px;">
                                <input pattern=".{5,}" required type="zip" maxlength="5" class="form-zip" name="zip" id="inputZipFooter" aria-required="false" placeholder="{{_ 'order-form_zip'}}" title="{{_ 'order-form_zip'}}"></div>
                            <input  id="button-zip" type="submit" value="{{_ 'home_order'}}" class="btn btn-large proxima bold orange darken-3">
                        </div>
                    </div>
                </form>
            </div>
        </ul>
    </div>

    <div class="col s12 center-align">
        <h4 class="flow-text white-text">{{_ "footer_legal"}}</h4>
        <ul class="collection-item">
            <li><a href="{{pathFor 'privacy'}}" class="grey-text text-lighten-1">{{_ "footer_privacy"}}</a>
            </li>
            <li><a href="{{pathFor 'terms'}}" class="grey-text text-lighten-1">{{_ "footer_terms"}}</a></li>
        </ul>
    </div>
    <div class="col s12 center-align">
        <h4 class="flow-text white-text">{{_ "footer_contact"}}</h4>
        <ul class="">
            <li><a href="{{pathFor 'ContactUs'}}" class="grey-text text-lighten-1">Email</a>
            </li>
            <li><a href="https://twitter.com/BrisboxHello" class="grey-text text-lighten-1">Twitter</a>
            </li>
            <li><a href="https://www.facebook.com/Brisbox" class="grey-text text-lighten-1">Facebook</a>
            </li>
            <li><a href="https://www.instagram.com/brisboxoficial/" class="grey-text text-lighten-1">Instagram</a>
            </li>
        </ul>
    </div>

</template>

<template name="footer_HR">
    <div class="col s4 center-align">
        <h4 class="flow-text white-text">{{_ "footer_company"}}</h4>
        <ul class="">
            <li><a href="{{pathFor 'AboutUs'}}" class="grey-text text-lighten-1">{{_ "footer_about"}}</a>
            </li>
            <li><a href="{{pathFor 'Faq'}}" class="grey-text text-lighten-1">FAQ</a>
            </li>
            <li><a href="{{pathFor 'join-us'}}" class="grey-text text-lighten-1">{{_ "footer_join_us"}}</a>
            </li>
            <li>
                <div class="block-debajo">
                    <div class="col s12">
                        <a class="modal-trigger grey-text text-lighten-1" href="#checkModal">
                            {{_ "footer_order"}}
                        </a>
                    </div>
                </div>
            </li>

            <div id="checkModal" class="modal">
                <form class="zip_form" method="get">
                    <div class="col s12 center-align">
                        <h5 class="white-text proxima"
                            style="color: black !important;margin-bottom: 35px;">{{_ "modal_order"}}</h5>

                        <div class="col s12 center-align">
                            <div style="display:inline-block;margin-bottom: 10px;">
                                <input pattern=".{5,}" required type="zip" maxlength="5" class="form-zip" name="zip"
                                       id="inputZipFooter" aria-required="false" placeholder="{{_ 'order-form_zip'}}"
                                       title="{{_ 'order-form_zip'}}">
                            </div>
                            <br/>
                            <input style="margin-bottom:10px;" id="button-zip" type="submit" value="{{_ 'home_order'}}"
                                   class="btn btn-large proxima bold orange darken-3">
                        </div>
                    </div>
                </form>
            </div>
        </ul>
    </div>
    <div class="col s4 center-align">
        <h4 class="flow-text white-text">{{_ "footer_legal"}}</h4>
        <ul class="collection-item">
            <li><a href="{{pathFor 'privacy'}}" class="grey-text text-lighten-1">{{_ "footer_privacy"}}</a>
            </li>
            <li><a href="{{pathFor 'terms'}}" class="grey-text text-lighten-1">{{_ "footer_terms"}}</a></li>
        </ul>
    </div>
    <div class="col s4 center-align">
        <h4 class="flow-text white-text">{{_ "footer_contact"}}</h4>
        <ul class="">
            <li><a href="{{pathFor 'ContactUs'}}" class="grey-text text-lighten-1">Email</a>
            </li>
            <li><a href="https://twitter.com/BrisboxHello" class="grey-text text-lighten-1">Twitter</a>
            </li>
            <li><a href="https://www.facebook.com/Brisbox" class="grey-text text-lighten-1">Facebook</a>
            </li>
            <li><a href="https://www.instagram.com/brisboxoficial/" class="grey-text text-lighten-1">Instagram</a>
            </li>
        </ul>
    </div>
</template>