<template name="inscriptionForm">

    <div class="container">
        <div class="section">
            {{#autoForm collection="Inscription" id="insertInscriptionForm" type="insert"}}
                <fieldset>
                    <legend>Acount Information</legend>
                    <div class="row">
                    <div class="input-field col s6">
                    {{> afQuickField name='name'}}
                    </div>
                    <div class="input-field col s6">
                    {{> afQuickField name='surname'}}
                    </div>
                    </div>
                    {{> afQuickField name='phone'}}
                    {{> afQuickField name='email' type='email'}}
                    {{> afQuickField name='password' type='password'}}
                    {{> afQuickField name='confirmPass' type='password'}}

                </fieldset>
                <fieldset>
                    <legend>Personal Information</legend>
                   <!--{{> afQuickField name='zip'}}-->
                    <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
                    {{> afQuickField name='emailSchool' type='email'}}
                    {{> afQuickField name='howHearAboutUs'}}
                </fieldset>
                <button type="submit" class="btn btn-primary waves-button-input">Submit Application</button>
            {{/autoForm}}
        </div>
    </div>
</template>
