<template name="langSelector">
    <i class="material-icons white-text dropdown-button" data-activates='languages' style="cursor:pointer;">language</i>

    <ul id='languages' class='dropdown-content'>
        <li class="waves-effect"><a data-lang="en"
                                    class="changes-lang center-align orange-text text-darken-4">English</a>
        </li>
        <li class="waves-effect"><a data-lang="es"
                                    class="changes-lang center-align orange-text text-darken-4">Español</a>
        </li>
    </ul>
</template>