<template name="login">
    <!--
     <form>
        <input type="text" name="loginUsername">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form> -->
    <div id="login-overlay"></div>
    <div id="login-main" class="container">
        <div id="login-access">
            <div class="row">
                <form class="col s12" id="login-form">
                    <div class="row z-depth-3" id="login-title">
                        <div class="col s12 orange darken-3 white-text center-align" id="login-title-header">
                            <h4>{{_ "login_title"}}</h4>
                        </div>
                    </div>
                    <div class="row" id="login-content" style="display: none;">
                        <div class="input-field col s12 z-depth-3" id="login-input-fields">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="username" type="text" class="validate form-control">
                                <label for="username">{{_ "login_username"}}</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password" type="password" class="validate form-control">
                                <label for="password">{{_ "login_password"}}</label>
                            </div>
                            <div class="input-field col s12 center-align">
                              <button name="submit" type="submit" class="waves-effect waves-light btn orange darken-3 z-depth-1 caret bold">{{_ "login_title"}}
                              </button>
                            </div>
                            {{#if hasErrors}}
                              <div id="login-error" class="center-align red input-field col s12">
                                {{_ alert}}
                              </div>
                          {{/if}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
