<template name="orderCheckout">

        <div class="row row-order-checkout" style="margin-top: 20px;">
            <div id="budget" class="col s12 m6 checkout-column">
                    <div class="container">
                        <legend id="legend-checkout">{{_ "order-checkout_header"}}</legend>
                        <div class="order-info col s12 m12">
                            <div id="info-budget" class="col s12 m12">
                                <i class="small material-icons col s2 m2">query_builder</i>
                                <label id="text-budget" class="col s10 m4 formu" for="day">{{_ "order-form_day"}}</label>
                                <div class="col s12 m6" id="day-budget" >
                                    {{day}}
                                </div>
                            </div>
                            <div id="info-budget" class="col s12 m12">
                                <i class="small material-icons col s2 m2">call</i>
                                <label  id="text-budget" class="col s10 m4 formu" for="phone">{{_ "order-form_phone"}}</label>
                                <div class="col s12 m6" id="phone-budget">
                                    {{phone}}
                                </div>
                            </div>
                            <div id="info-budget" class="col s12 m12">
                                <i class="small material-icons col s2 m2">shopping_cart</i>
                                <label  id="text-budget" class="col s10 m4 formu" for="cost">{{_ "order-form_cost"}}</label>
                                <div class="col s12 m6" id="cost-budget">
                                    {{cost}}
                                </div>
                            </div>
                            {{#if addressLoading}}
                            <div id="info-budget" class="checkout-loading col s12 m12">
                                <i class="small material-icons col s2 m2">location_on</i>
                                <label  id="text-budget" class="col s10 m4 formu" for="addressLoading">{{_ "order-form_addressLoading"}}</label>
                                <div class="col s12 m6" id="address-budget">
                                    {{addressLoading}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if addressUnloading}}
                            <div id="info-budget" class="checkout-unloading col s12 m12">
                                <i class="small material-icons col s2 m2">location_on</i>
                                <label  id="text-budget" class="col s10 m4 formu" for="addressUnloading">{{_ "order-form_addressUnloading"}}</label>
                                <div class="col s12 m6" id="address-budget">
                                    {{addressUnloading}}
                                </div>
                            </div>
                            {{/if}}
                            <br>
                            <div class="input-field col s12 center-align"  style="margin-top: 35px;">
                                <button id="buttom-next" class="btn waves-effect waves-light orange darken-3 white-text" type="button">
                                    {{_ "order-form_next"}}
                                </button>
                            </div>
                        </div>
                    </div>
            </div>

            <div id="form-stripe" class="stripeForm col s12 m6">
                {{>stripe_form}}
            </div>

        </div>

</template>