<template name="OrderNotFound">
    <div class="container">
        <div class="section scrollspy">
            <div class="row">
                <h4 class="header">{{_ "order_not_found"}}</h4>
            </div>
            <div class="row">
                <p>{{_ "order_not_found_body1"}}<a
                        href="mailto:hello@brisbox.com">{{_ "send_mail_to_Brisbox"}}</a>{{_ "order_not_found_body2"}} <a
                        href="/contact-us">{{_ "contact_us_header"}}</a> {{_ "order_not_found_body3"}}</p>
            </div>
            <div class="row">
                <a href="/">{{_ "return_to_main_page"}}</a>
            </div>
        </div>
    </div>
</template>
