<template name="payment_confirmation">
    <div id="payment-overlay"></div>
    <div id="payment-main" class="container">
        <div id="payment-access">
            <div class="row">
                <div class="col s12" id="payment-form">
                    <div class="row z-depth-3" id="payment-title">
                        <div class="col s12 orange darken-3 white-text center-align" id="payment-title-header">
                            <h4>{{_ "payment_confirmation_button"}}</h4>
                        </div>
                    </div>
                    <div class="row" id="payment-content" style="display: none;">
                        <div class="input-field col s12 z-depth-3" id="payment-input-fields">
                            <div class="input-field col s12">
                                <i class="material-icons prefix orange-text">account_circle</i>
                                <input id="real_num_brisboxers" type="number" class="form-control" min="0" />
                                <label for="real_num_brisboxers">{{_ "payment_confirmation_real_num_brisboxers"}}</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix orange-text">query_builder</i>
                                <input id="real_num_hours" type="number" class="form-control" min="0" />
                                <label for="real_num_hours">{{_ "payment_confirmation_real_num_hours"}}</label>
                            </div>
                            <div class="input-field col s12">
                                <span>
                                    {{_ "payment_confirmation_total"}}: {{ finalCost }} &euro;
                                </span>
                            </div>
                            <div class="input-field col s12 center-align">
                                <button type="button" id="confirmation_button" class="waves-effect waves-light btn orange darken-3 z-depth-1 caret bold">{{_ "payment_confirmation_confirm"}}
                                </button>
                                <button type="button" id="cancel_button" class="waves-effect waves-light btn-flat bold">{{_ "payment_confirmation_cancel"}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if step1}}
                    <div class="payment-confirmation-stripe">
                        {{> stripe_form}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>