<Template name="privacy">
	<div id="privacy-main" style="font-weight: 400;">
		<div id="privacy-container" class="container section">
			<div class="row privacy_row">
                <h4 class="header">{{_ "privacy_header"}}</h4>
            </div>
            <div class="row privacy_row">
                <p>
					<p>{{_ "privacy_one"}}</p>
					<p>{{_ "privacy_two"}}</p>
                </p>
            </div>
             <div class="row privacy_row">
                <h5 class="header">{{_ "privacy_header_one"}}</h5>
            </div>
             <div class="row privacy_row">
                <p>
				<p>{{_ "privacy_three"}}</p>

				<p>{{_ "privacy_four"}}</p>
                </p>
            </div>
            <div class="row privacy_row">
                <h5 class="header">{{_ "privacy_header_two"}}</h5>
            </div>
             <div class="row privacy_row">
                <p>
					 <p>- {{_ "privacy_five"}}</p>
					 <p>{{_ "privacy_six"}}</p>

					<p>{{_ "privacy_seven"}}</p>

					<p>{{_ "privacy_eight"}}</p>
					<ul>
					    <li>{{_ "privacy_nine"}}</li>
					    <li>{{_ "privacy_ten"}}</li>
					    <li>{{_ "privacy_eleven"}}</li>
					</ul> 
					<p>{{_ "privacy_twelve"}}</p>
                </p>
            </div>
             <div class="row privacy_row">
                <h5 class="header">{{_ "privacy_header_three"}}</h5>
            </div>
             <div class="row privacy_row">
                <p>{{_ "privacy_thirteen"}}</p>
            </div>
            <div class="row privacy_row">
                <h5 class="header">{{_ "privacy_header_four"}}</h5>
            </div>
             <div class="row privacy_row">
                <p>
				{{_ "privacy_fourteen" }}
                </p>
            </div>
             <div class="row privacy_row">
                <h5 class="header">{{_ "privacy_header_five"}}</h5>
            </div>
             <div class="row privacy_row">
                <p>{{_ "privacy_fifteen"}}</p>
            </div>
		</div>
	</div>
</Template>