<Template name="privacy">
	<div id="privacy-main">
		<div id="privacy-container" class="container section">
			<div class="row privacy_row">
                <h4 class="header">{{_ "privacy_header"}}</h4>
            </div>
            <div class="row privacy_row">
                <p>
					La visita a este sitio Web no implica que el usuario esté obligado a facilitar ninguna información.<br/>
					En el caso de que el usuario facilite alguna información de carácter personal, los datos recogidos en este sitio web serán tratados de forma leal y lícita con sujeción en todo momento a los principios y derechos recogidos en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), y demás normativa de desarrollo.
                </p>
            </div>
             <div class="row privacy_row">
                <h5 class="header">Personas menores de 18 años</h5>
            </div>
             <div class="row privacy_row">
                <p>
				Nuestra web no está destinada a personas menores de 18 años. No recopilaremos información personal de personas menores de esta edad. <br/>

				Si usted es menor de 18 años, puede realizar a través de un adulto que realice todo el proceso mediante la web.
                </p>
            </div>
            <div class="row privacy_row">
                <h5 class="header">Información a los usuarios</h5>
            </div>
             <div class="row privacy_row">
                <p>
					 - Apartado "Realizar pedido" <br/>
					De acuerdo a la Ley Orgánica 15/1999 de 13 de Diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos que mediante la cumplimentación de los formularios, sus datos personales quedarán incorporados y serán tratados en ficheros Brisbox. <br/>

					La principal finalidad de dicho fichero es la gestión de los pedidos registrados en nuestra web, así como facilitar los datos de contacto a los brisboxer para poder elegir el pedido que les sea mas óptimo. <br/>

					Con motivo de la compra sus datos pueden ser comunicados a los siguientes destinatarios: <br/><br/>
					<ul>
					    <li>Entidades bancarias para el pago las compras mediante tarjeta.</li>
					    <li>A la Oficina de consumidores y usuarios en caso de existir alguna reclamación.</li>
					    <li>A la oficina de aseguramientos en el caso de desperfectos.</li>
					</ul> 
					Brisbox asegura la confidencialidad de los datos aportados y garantiza que, en ningún caso, serán cedidos para ningún otro uso sin mediar consentimiento previo y expreso de nuestros usuarios. Sólo le pediremos aquellos datos necesarios para la prestación del servicio requerido y únicamente serán empleados para este fin.<br/>
                </p>
            </div>
             <div class="row privacy_row">
                <h5 class="header">Uso de los enlaces de seguimiento</h5>
            </div>
             <div class="row privacy_row">
                <p>
				Cada usuario puede acceder a sus tickets mediante usuario y contraseña. Las contraseñas son personales e intransferibles y El usuario es responsable del uso de sus contraseñas y de su comunicación a terceros. La información que contiene los tickets es de carácter confidencial. Brisbox prohíbe la publicación de los tickets a terceros y de su divulgación en foros, redes sociales y cualquier sitio web.<br/>
                </p>
            </div>
            <div class="row privacy_row">
                <h5 class="header">Consentimiento</h5>
            </div>
             <div class="row privacy_row">
                <p>
				Mediante el envío de los formularios entendemos que el usuario presta su consentimiento para que se traten los datos conforme las finalidades previstas en cada uno de los formularios. Brisbox no comunicará los datos a terceros salvo en los supuestos legalmente establecidos o autorizados por el interesado. Brisbox comunica a los titulares de los datos su intención de enviarles comunicaciones comerciales por correo electrónico o por cualquier otro medio de comunicación electrónica equivalente. Asimismo, los titulares manifiestan conocer esta intención y prestan su consentimiento expreso para la recepción de las mencionadas comunicaciones. El consentimiento aquí prestado por el Titular para comunicación de datos a terceros tiene carácter revocable en todo momento, sin efectos retroactivos.
                </p>
            </div>
             <div class="row privacy_row">
                <h5 class="header">Calidad de los datos</h5>
            </div>
             <div class="row privacy_row">
                <p>
				Los usuarios deberán garantizar la veracidad, exactitud, autenticidad y vigencia de los datos de carácter personal que les hayan sido recogidos.
				Protección de los menores<br/>

				No recogemos datos personales de menores. Es responsabilidad del padre/madre/tutor legal velar por para la privacidad de los menores, haciendo todo lo posible para asegurar que han autorizado la recogida y el uso de los datos personales del menor.
                </p>
            </div>
		</div>
	</div>
</Template>