<template name="ThanksOrder">
    <div id="thanksOrder-container" class="container section">
        <div class="row thanksOrder">
            <h4 class="header-thanksOrder"><p>{{_ "thanks_Order"}}</p></h4>
        </div>
        <div class="row thanksOrder_body">
            <div class="col s12 m6">
                <p>{{_ "thanks_Order_body"}}</p>
            </div>
            <div class="col s12 m6">
                <img src="/hand.png">
            </div>
        </div>
    </div>
</template>
