<Template name="userMenu">
	{{#if currentUser }}
		<div id="usermenu-content">
			{{#if isInRole 'brisboxer'}}
				<i class="material-icons orange-text dropdown-button img-user">stars</i>
			{{/if}}

			{{#if isInRole 'admin'}}
				<i class="material-icons orange-text dropdown-button img-user">verified_user</i>
			{{/if}}
			<span class="hide-on-med-and-down">{{_ "welcome"}}, <b>{{currentUser.username}}</b></span>
		</div>
    {{else}}
		<ul id="showLoginModal">
             <a class="bold caret text-shadow smaller-font" style="display: inline;padding: 6px 10px 6px 10px; border: 1px solid white; border-radius: 4px;">
            	{{_ "layout_login_link"}}
	     </a>
        </ul>
	{{/if}}

</Template>
