<Template name="userMenu">
	{{#if currentUser }}
		<div class="fixed-action-btn" id="user-menu">
			<a class="btn-floating btn-large red">
            	{{#if isInRole 'brisboxer'}}
					<i class="material-icons">stars</i>
				{{/if}}

				{{#if isInRole 'admin'}}
					<i class="material-icons">verified_user</i>
				{{/if}}
          	</a>
          	<ul>
            <li>
	            
		        {{#if isInRole 'brisboxer'}}
					<!-- brisboxer's routes -->
					{{#if brisboxerAccepted}}
						<a id="accept-brisboxers" class="btn-floating btn-large green" href="{{ pathFor 'list-all-orders'}}">
			         		<i class="material-icons">search</i>
			    		</a>
					{{/if}}
				{{/if}}

				{{#if isInRole 'admin'}}
					<!-- admin's routes -->
					<a id="accept-brisboxers" class="btn-floating btn-large yellow" href="{{ pathFor 'accept-brisboxers'}}">
			         	<i class="material-icons">recent_actors</i>
			    	</a>
				{{/if}}
				<a id="logout" class="btn-floating btn-large blue">
	            	<i class="material-icons">power_settings_new</i>
	            </a>
            </li>
          </ul>
		</div>
    {{else}}
		<ul id="showLoginModal">
			<div class="hide-on-small-only">
	             <a class="bold caret text-shadow smaller-font" style="display: inline;padding: 6px 10px 6px 10px; border: 1px solid white; border-radius: 4px;">
	            	{{_ "layout_login_link"}}
           	 	</a>
	   		</div>
	   		<div class="hide-on-med-and-up">
				<i class="material-icons text-shadow smaller-font">account_circle</i>
	   		</div>
        </ul>
	{{/if}}

</Template>
