<template name="welcome-view">
    <div id="welcome-main">
        <div id="welcome-container" class="container section">
            <div class="row welcome_header">
                <h4 class="header">{{_ "welcome_header"}}</h4>
            </div>
            <div class="row welcome_body">
                <p>{{_ "welcome1"}}</p>
                <p>{{_ "welcome2"}}</p>
                <h5>{{_ "welcome3"}}</h5>
            </div>
            <img src="/mover.png" height="auto" width="90%" style="max-width: 250px; float:left">
        </div>
    </div>
</template>