<template name="CancelCodeLogin">
    <form id="cancelCodeLoginForm">
        <div class="input-field">
            <input id="cancelCode" type="text" required name="cancelCode" class="form-control">
            <label id="label_hours" for="cancelCode">{{_ "cancel-form-code"}}</label>
        </div>
        <div class="input-field" style="padding-bottom: 5px;">
            <button type="submit" class="btn btn-primary waves-button-input orange darken-3 caret">{{_ "order-submit"}}</button>
        </div>
    </form>
</template>
