<template name="order_dashboard">
    <div class="row main-container">
        <div class="col l12 s12">
            <div class="col s4 m4 order-info" id="customer">
                <div class="col s12 m12 customer-info">
                    <span class="order_dashboard_section_title title flow-text">{{_ "order_dashboard_customer_info_title"}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_name"}}:</b> {{name}} {{surname}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_telephone"}}:</b> {{phone}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_email"}}:</b> {{email}}</span>
                </div>
                <div class="col s12 m12 customer-info">
                    <span class="order_dashboard_section_title title flow-text">{{_ "order_dashboard_order_info_title"}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_city"}}:</b> Sevilla</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_zip"}}:</b> {{zip}}</span>
                    {{#if addressLoading}}
                        <span class="flow-text"> <b>{{_ "order_dashboard_address_loading"}}
                            :</b> {{addressLoading}}</span>
                    {{/if}}
                    {{#if addressUnloading}}
                        <span class="flow-text"> <b>{{_ "order_dashboard_address_unloading"}}
                            :</b> {{addressUnloading}}</span>
                    {{/if}}
                    <span class="flow-text"> <b>{{_ "order_dashboard_day"}}:</b> {{prettifyDate day}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_hour"}}:</b> {{startMoment}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_number_of_brisboxers"}}
                        :</b> {{numberBrisboxers}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_estimate_hours"}}:</b> {{hours}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_estimate_cost"}}
                        :</b> {{calculateCost numberBrisboxers hours}}</span>
                </div>
            </div>
            <div class="col s4 m4 brisboxers-info" id="brisboxers">
                <div class="col s12 m12 brib-info">
                    <span class="order_dashboard_section_title title flow-text">{{_ "order_dashboard_brisboxers_info_title"}}</span>
                    {{#if brisboxers_list.count}}
                        {{> brisboxers_list}}
                    {{else}}
                        <p>{{_ "order_dashboard_emptyBrisboxer"}}</p>
                    {{/if}}
                    {{#if canceled}}
                        <h4 class="deep-orange flow-text">{{_ "order_deleted"}}</h4>
                    {{/if}}
                </div>
                <div class="col s12 m12 brisboxers-buttons">
                    <div class="col s4 m5 hide-on-med-and-down">
                        {{#if orderDay day}}
                            <button class="btn orange" name="submit"
                                    id="confirm-order-payment">{{_ "order_dashboard_payment"}}</button>
                        {{else}}
                            <button class="btn" id="pay" disabled>{{_ "order_dashboard_payment"}}</button>
                        {{/if}}
                    </div>
                    <div class="col s4 m5 hide-on-med-and-down" id="cancelar">
                        <button class="btn deep-orange" id="cancel">{{_ "order_dashboard_cancel"}}</button>
                    </div>
                    <div class="col s12 m6 hide-on-large-only">
                        {{#if orderDay day}}
                            <button name="submit" class="btn orange waves-orange flow-text"
                                    id="confirm-order-payment">{{_ "order_dashboard_payment"}}</button>
                        {{else}}
                            <button class="btn row" disabled>{{_ "order_dashboard_payment"}}</button>
                        {{/if}}
                        <button class="btn deep-orange waves-orange flow-text"
                                id="cancel">{{_ "order_dashboard_cancel"}}</button>
                    </div>
                </div>
            </div>
            <div class="col s4 m4 order-info" id="mapa">
                <div class="mapita col s12 m12 hide-on-small-only customer-info left">
                    <iframe
                            width="100%"
                            height="100%"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYFp3bwLCX0jHLq0S27Odu1Pb8mLSEHfU&q={{#if addressLoading}}{{replaceSpace addressLoading}}{{else}}{{addressUnloading}}{{/if}}&attribution_source=Google+Maps+Embed+API">
                    </iframe>
                </div>
            </div>
        </div>

    </div>
</template>