<template name="order_dashboard">
    <div class="row main-container">
        <div class="col l12 s12 info">
            <div class="col l3 s12 customer-info">
                <span class="order_dashboard_section_title">{{_ "order_dashboard_customer_info_title"}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_name"}}:</b> {{name}} {{surname}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_telephone"}}:</b> {{phone}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_email"}}:</b> {{email}}</span>
            </div>
            <div class="col l1">&nbsp;</div>
            <div class="col l4 s12 order-info left">
                <span class="order_dashboard_section_title">{{_ "order_dashboard_order_info_title"}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_city"}}:</b> Sevilla</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_zip"}}:</b> {{zip}}</span>
                {{#if addressLoading}}
                    <span class="flow-text"> <b>{{_ "order_dashboard_address_loading"}}:</b> {{addressLoading}}</span>
                {{/if}}
                {{#if addressUnloading}}
                    <span class="flow-text"> <b>{{_ "order_dashboard_address_unloading"}}:</b> {{addressUnloading}}</span>
                {{/if}}
                <span class="flow-text"> <b>{{_ "order_dashboard_day"}}:</b> {{prettifyDate date}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_hour"}}:</b> {{startMoment}}</span>
            </div>
            <div class="col l1">&nbsp;</div>
            <div class="col l3 s12 customer-info">
                <span class="order_dashboard_section_title">{{_ "order_dashboard_resume_info_title"}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_number_of_brisboxers"}}:</b> {{numberBrisboxers}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_estimate_hours"}}:</b> {{hours}}</span>
                <span class="flow-text"> <b>{{_ "order_dashboard_estimate_cost"}}:</b> {{calculateCost numberBrisboxers hours}}</span>
            </div>
        </div>
        <div class="col l12 s12 brisboxers-info left">
            <span class="order_dashboard_section_title">{{_ "order_dashboard_brisboxers_info_title"}}</span>
            {{> brisboxers_list}}
        </div>
    </div>
</template>