<template name="order_dashboard">
    <div class="row main-container">
        <div class="col l12 s12">
            <div class="col s4 m4 order-info" id="customer">
                <div class="col s12 m12 customer-info">
                    <span class="order_dashboard_section_title title flow-text">{{_ "order_dashboard_customer_info_title"}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_name"}}:</b> {{name}} {{surname}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_telephone"}}:</b> {{phone}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_email"}}:</b> {{email}}</span>
                </div>
                <div class="col s12 m12 customer-info">
                    <span class="order_dashboard_section_title title flow-text">{{_ "order_dashboard_order_info_title"}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_status"}}:</b> <a href="{{pathFor "Faq" hash="status"}}" style="font-size: 100%">{{_ status}}</a></span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_zip"}}:</b> {{zip}}</span>
                    {{#if addressLoading}}
                        <span class="flow-text"> <b>{{_ "order_dashboard_address_loading"}}:</b> {{addressLoading}}</span>
                    {{/if}}
                    {{#if addressUnloading}}
                        <span class="flow-text"> <b>{{_ "order_dashboard_address_unloading"}}:</b> {{addressUnloading}}</span>
                    {{/if}}
                    <span class="flow-text"> <b>{{_ "order_dashboard_day"}}:</b> {{prettifyDate day}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_hour"}}:</b> {{startMoment}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_number_of_brisboxers"}}
                        :</b> {{numberBrisboxers}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_estimate_hours"}}:</b> {{hours}}</span>
                    <span class="flow-text"> <b>{{_ "order_dashboard_estimate_cost"}}
                        :</b> {{calculateCost numberBrisboxers hours}}</span>
                </div>
            </div>
            <div class="col s4 m4 brisboxers-info" id="brisboxers">
                <div class="col s12 m12">
                    <span class="order_dashboard_section_title title flow-text">{{_ "order_dashboard_brisboxers_info_title"}}</span>
                    {{#if notEmpty brisboxers}}
                        {{> brisboxers_list}}
                    {{else}}
                        <span class="flow-text">{{_ "order_dashboard_emptyBrisboxer"}}</span>
                    {{/if}}
                    {{#if canceled}}
                        <h4 class="deep-orange flow-text">{{_ "order_deleted"}}</h4>
                    {{/if}}
                </div>

            </div>
            <div class="col s4 m4 order-info" id="mapa">
                <div class="dashmap col s12 m12 hide-on-small-only customer-info left">
                   {{> googleMap name="dashmap" options=mapOptions}}
                </div>
            </div>
        </div>
        {{#if notPaid}}
            <div class="col s12 m12">
                <div class="col s4 m2 row hide-on-med-and-down">
                    {{#if orderDay day}}
                        {{#if notInOrder }}
                            <div class="col s6">
                                <button name="submit" id="confirm-order-payment" type="button"
                                        class="bold btn waves-effect waves-light orange darken-3 white-text confirm-payment">{{_ "payment_confirmation_button"}}
                                </button>
                            </div>
                            <div class="col s6">
                                <button id="edit-order" class="waves-effect waves-orange btn-flat bold" style="margin-top:15px;margin-bottom: 15px;">{{_ "order_dashboard_edit"}}</button>
                            </div>
                        {{/if}}
                    {{else}}
                        {{#if orderCancel day}}
                            {{#if notInOrder }}
                                <div class="col s4 m6 hide-on-med-and-down" id="cancelar">
                                    <button class="bold waves-effect waves-orange waves-ripple btn-flat"
                                            id="cancel">{{_ "order_dashboard_cancel"}}</button>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>

                <div class="col s12 m2 hide-on-large-only bold">
                    {{#if orderDay day}}
                        {{#if notInOrder }}
                            <div class="col s6">
                                <button name="submit" id="confirm-order-payment" type="button"
                                        class="bold btn waves-effect waves-light orange darken-3 white-text confirm-payment">{{_ "payment_confirmation_button"}}
                                </button>
                            </div>
                            <div class="col s6">
                                <button id="edit-order" class="waves-effect waves-orange btn-flat bold" style="margin-top:15px;margin-bottom: 15px;">{{_ "order_dashboard_edit"}}</button>
                            </div>
                        {{/if}}
                    {{else}}
                        {{#if orderCancel day}}
                            {{#if notInOrder }}
                                <div class="col s4 m6 hide-on-med-and-down" id="cancelar">
                                    <button class="waves-effect waves-orange waves-ripple btn-flat"
                                            id="cancel">{{_ "order_dashboard_cancel"}}</button>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>

            </div>
        {{/if}}
    </div>

</template>
