<Template name="listAllOrders">
	<div id="lao-main" class="section">
		<h4 class="header">Orders</h4>
		<table class="flatTable">
		  <tr class="headingTr">
		    <td>REFERENCE</td>
		    <td>DATE ISSUED</td>
		    <td>COMPANY</td>
		    <td>AMOUNT</td>
		    <td>STATUS</td>
		  </tr>
		  
		  <tr>
		    <td>#2331212</td>
		    <td>Feb 21,2013</td>
		    <td>White Out</td>
		    <td>$2,000</td>
		    <td>Paid</td>
		  </tr>
		  
		  <tr>
		    <td>#2331212</td>
		    <td>Feb 21,2013</td>
		    <td>White Out</td>
		    <td>$2,000</td>
		    <td>Paid</td>
		  </tr>
		  
		  <tr>
		    <td>#2331212</td>
		    <td>Feb 21,2013</td>
		    <td>White Out</td>
		    <td>$2,000</td>
		    <td>Paid</td>
		  </tr>

		</table>

	</div>
	
</Template>