<template name="orderGridItem">

    <div style="margin-bottom:30px;" data-hours="{{hours}}" data-left="{{left}}">
        <div class="card custom-shadow" style="width:328px;height:515px;background:white;margin:auto;position:relative;">

            <div style="height:280px;width:100%;background:#e8ddbd;position:relative;">

                <div style="position:absolute;top:8px;left:8px;color:#fff;font-weight: normal;font-size:110%;">
                    <div>
                        <span style="padding:1px 4px;background:#4f4f4f;">{{addressLoading}}</span>
                    </div>
                    <div>
                        <span style="padding:1px 4px;background:#4f4f4f;font-size:85%;">{{zip}}</span>
                    </div>
                </div>

                <div style="position:absolute;bottom:8px;padding-left:8px;width:100%;color:#fff;font-weight: normal;font-size:110%;">
                    <div style="float:left;">
                        <span style="padding:1px 4px;background:#4f4f4f;">{{{_ "spots_left" count=left }}}</span>
                    </div>
                    <div style="float:right;padding-right:8px"><span
                            style="padding:1px 4px;background:#4f4f4f;font-weight:600;">{{estimatedEarnings}}€</span></div>
                </div>


            </div>

            <div class="join"
                 style="cursor:pointer;position:absolute;bottom:0;left:0;background:#ffb611;height:77px;width:100%;color:#fff;font-weight:600;font-size:220%;text-align:center;line-height: 77px;">
                Join
            </div>

        </div>
    </div>

</template>