<template name="home">

    <div>

        {{> coverr }}

        <div class="container" style="margin-top: 15%; margin-bottom: 20%">
            <div class="row">
                <form class="zip_form" method="get" action="{{ pathFor 'order' }}">
                    <div class="col s12 center-align">
                        <h3 class="white-text proxima" style="text-shadow: 0px 1px 0px #757575;margin-bottom: 35px;">{{_ "home_title"}}</h3>
                        <div class="col s12 center-align">
                            <div style="display:inline-block;margin-bottom: 10px;"><input pattern=".{5,}" required type="zip" maxlength="5" class="form-zip" name="zip" id="inputZip" aria-required="false" placeholder="{{_ 'order-form_zip'}}" title="{{_ 'order-form_zip'}}"></div>
                            <input  id="button-zip" type="submit" value="{{_ 'home_order'}}" class="btn btn-large proxima bold orange darken-3">
                        </div>
                    </div>
                    <!-- ADDED FOR LOGIN -->
                    <!--<div class="col s12 center-align">
                        {{#if currentUser}}
                            <h3 class="white-text" style="text-shadow: 2px 2px 2px #000;">You're login in.</h3>
                        {{else}}
                        {{> login}}
                    {{/if}}
                    </div>-->
                    <!-- END ADDED FOR LOGIN -->
                </form>
            </div>
        </div>
    </div>

    <div class="white">
        <div class="amber darken-3" style="padding: 20px">
            <div class="container">
                <div class="row">
                    <h4 class="center-align white-text">{{_ "home_help"}}</h4>
                </div>
            </div>
        </div>

        <div class="white" style="padding-top: 50px; padding-bottom: 50px">
            <div class="container" id="slider_container">
                <div class="row col s12 m12" style="margin-bottom: 0;">
                    <!-- Services high resolution screens -->
                    <div class="hide-on-med-and-down" style="margin-left: -15%; margin-right: -15% ">
                        {{> homeServicesHR}}
                    </div>

                    <!-- Services low resolution screens -->
                    <div class="hide-on-large-only">
                        {{> homeServicesLR}}
                    </div>
                </div>
            </div>
        </div>

        <div class="grey darken-2 white-text" style="padding: 1px">
            <div class="container">
                <div class="row center-align">
                    <div class="hide-on-med-and-down">
                        {{> priceHR}}
                    </div>

                    <!-- Services low resolution screens -->
                    <div class="hide-on-large-only">
                        {{> priceLR}}
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>

<template name="homeServicesHR">

    <script>
        $(document).ready(function(){
            $('.slider').slider({full_width: true});
            $('.slider').attr('style','');
            $('.slides').attr('style','');
        });
    </script>
    <div class="slider" style="height:100%;">
        <ul class="slides" style="height:100%;">
            <li>

                <div class="filter"></div>
                <img src="/slider1.png"/>
                <div class="caption center-align up">
                    <h3>{{_ "home_loading"}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{_ "home_loading_text"}}</h5>
                </div>
            </li>
            <li>

                <div class="filter"></div>
                <img src="/slider2.jpg"/>
                <div class="caption left-align up">
                    <h3>{{_ "home_unloading"}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{_ "home_unloading_text"}}</h5>
                </div>
            </li>
            <li>

                <div class="filter"></div>
                <img src="/slider3.jpg"/>
                <div class="caption right-align up">
                    <h3>{{_ "home_placing"}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{_ "home_placing_text"}}</h5>
                </div>
            </li>
        </ul>
    </div>

</template>

<template name="homeServicesLR">

    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/slider1.png"/>
                <div class="caption center-align">
                    <h3>{{_ "home_loading"}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{_ "home_loading_text"}}</h5>
                </div>
            </li>
            <li>
                <img src="/slider2.jpg"/>
                <div class="caption left-align">
                    <h3>{{_ "home_unloading"}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{_ "home_unloading_text"}}</h5>
                </div>
            </li>
            <li>
                <img src="/slider3.jpg"/>
                <div class="caption right-align">
                    <h3>{{_ "home_placing"}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{_ "home_placing_text"}}</h5>
                </div>
            </li>
        </ul>
    </div>

</template>

<template name="priceHR">

    <div class="col s8 offset-s2">
        <span class="orange-text" style="font-size: 1000%">
                <sup style="font-size: 50px">&euro;</sup><span class="bold">20</span><sub
                style="font-size: 50px">/h</sub></span><br>
        <div style="margin-top: -7%">
            {{_ "home_price_11"}} <span class="tooltipped" data-position="top" data-delay="50"
                                        data-tooltip="{{_ "home_brisboxer"}}">brisboxer</span>{{_ "home_price_12"}}
            <h5 class="orange-text" style="margin-top: 6%">{{_ "home_our_pricing"}}</h5>
            <p>{{_ "home_price_2"}}</p>
        </div>
    </div>

</template>

<template name="priceLR">

    <span class="orange-text" style="font-size: 1000%;"> <sup style="font-size: 50px">&euro;</sup><span
            class="bold">20</span><sub style="font-size: 50px">/h</sub></span><br>

    <div class="flow-text" style="margin-top: -6%">
        {{_ "home_price_11"}} <span class="tooltipped" data-position="top" data-delay="50"
                                    data-tooltip="{{_ "home_brisboxer"}}">brisboxer</span>{{_ "home_price_12"}}

        <h5 class="orange-text" style="margin-top: 6%">{{_ "home_our_pricing"}}</h5>
        <p>{{_ "home_price_2"}}</p>
    </div>

</template>
